<div class="container mb-5">
  <div class="row">
    <div class="col-md-12 shadow-lg p-3 mb-3 bg-body rounded">
      <div class="mb-4">
        <h1><a href="<%= @repo['html_url'] %>"><%= @repo['full_name'] %></a></h1>
        <p><%= @repo['description'] %></p>
      </div>
      <hr>
      <h3>Repository Details:</h3>
      <ul class="list-group">
        <li class="list-group-item"><strong>Owner:</strong> <%= @repo['owner']['login'] %></li>
        <li class="list-group-item"><strong>Created At:</strong> <%= @repo['created_at'] %></li>
        <li class="list-group-item"><strong>Updated At:</strong> <%= @repo['updated_at'] %></li>
        <li class="list-group-item"><strong>Language:</strong> <%= @repo['language'] %></li>
      </ul>
      <% if current_user.user_name == @repo['owner']['login']%>
        <div class="mt-4">
          <li class="list-group-item">
              <%= link_to "Create Pull Request", new_pull_request_path(repo: @repo['name']), class: "btn btn-primary" %>
          </li>
        </div>
      <% end %>
    </div>
    <% if current_user.user_name == @repo['owner']['login']%>
      <div class="col-md-12 shadow-lg p-3 bg-body rounded">
        <h2>Pull Requests</h2>
        <div>
          <% if @pull_requests.any? %>
            <% @pull_requests.each do |pr| %>
              <div class="shadow-sm p-3 bg-body rounded-lg">
                <h3><%= pr['title'] %></h3>
                <div class="d-flex justify-content-between">
                  <p>Submitted by: <%= pr['user']['login'] %></p>
                  <p class="bg-primary p-1 rounded-sm">Status: <%= pr['state'] %></p>
                </div>
                <div class="d-flex justify-content-between">
                  <p>Created at: <%= Time.zone.parse(pr['created_at']).strftime("%B %d, %Y") %></p>
                  <p>Last updated at: <%= Time.zone.parse(pr['updated_at']).strftime("%B %d, %Y") %></p>
                </div>
                <a href="<%= pr['html_url'] %>">View on GitHub</a>
              </div>
            <% end %>
        </div>
        <% else %>
          <p>No Pull Requests</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

